* {
  margin: 0;
  padding: 0;
}
body {
  /*background-color: rgb(96,192,197);*/
  overflow: hidden;
}
#searchBus {
  width: 100%;
}
#searchBus > div {
  width: 90%;
  margin: 200px auto;
  min-height: 330px;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -ms-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
#searchBus > div > div {
  width: 100%;
  margin-top: 10px;
}
#searchBus > div > div span {
  width: 100%;
  height: 48px;
  display: block;
  background-color: #60c0c5;
  line-height: 48px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#searchBus > div > div table {
  width: 100%;
  border: 1px solid #B2B2B2;
  display: none;
}
#searchBus > div > div table thead {
  width: 100%;
}
#searchBus > div > div table thead td {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#searchBus > div > div table tbody {
  width: 100%;
}
#searchBus > div > div table tbody td {
  height: 26px;
  line-height: 26px;
  text-align: center;
}
